@model SafeHiker.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                @*                <p>*@
                @*                    @foreach (AuthenticationDescription p in loginProviders)*@
                @*                    {*@
                @*                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Login with @p.AuthenticationType</button>*@
                @*                    }*@
                @*                </p>*@
                <p>
                    <button type="submit" class="btn btn-default btn-google" id="Google" name="provider" value="Google" title="Log in using your Google account">Login with Google</button>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-default btn-facebook" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account">Login with Facebook</button>
                </p>
            </div>
        }
    }
}